<div id="fb-root"></div>

<script type="text/javascript">
    function postStatus() {
        $.ajax({
            type: "POST",
            url: "Facebook/UpdateAndPostStatus",
            data: { statusMessage: document.getElementById('status-input').value },
            dataType: "json",
            success: function () {
                console.log("success");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.responseText);
            }
        });
    }
</script>

<label for="status-input" class="fb-label">Update Status</label>
<input id="status-input" class="fb-input-text" />
<button onclick="postStatus()" class="fb-button">Post</button>