#chatHistoryContainer h2 {
    font-family: "Sintony", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #fff;
    margin-bottom: 15px;
    left: 190px;
    position: absolute;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#messageContainer {
    position:fixed;
    bottom: 0px;
    right: 0px;
    width: 400px;
    height:320px;
    border: 1px solid grey;
}
#chatHistoryContainer {
    width: 400px;
    height:50px;
    float:none;
    padding-bottom: 10px;
    background-color: #A8A9AD;
}
#messageArea {
    width: 400px;
    height: 220px;
    border: 4px inset #A8A9AD;
    background-color: #f0f0f0;
    overflow:auto;
}
#messageInput {
    position: absolute;
    bottom:0px;
    float:none;
    width: 400px;
    height: 40px;
    border-top: 4px solid #696969;
      background-color: #8FBAC8;
}
#messageBlock {
    position:relative;
    float: left;
}
#msg {
    color: #2E6E9E;
    font-weight: bold;
    border: 1px solid #C5DBEC;
    padding: 5px;
    width: 300px;
    height: 20px;
    margin-left: 5px;
    margin-top: 3px;
}
.ButtonClass
{
    background-image: url(../Resources/images/ChatHistorySmaller.png);   
    background-repeat: no-repeat; 
    border: none;    
}
#sendButton {
    position: relative;
    float:left;
    height:100px;
}


