@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
@{ Html.RenderAction("Home", "Calender"); }
@{ Html.RenderAction("Ticker", "Stock"); }
<p>
    @{ Html.RenderAction("Home", "Facebook"); }
</p>
    @{ Html.RenderAction("NewsFeed","Facebook");}

