@{
    ViewBag.Title = "Index";
}
<link rel='stylesheet' type='text/css' href="../../Content/fullcalendar.css" />
<script type='text/javascript' src="../../Scripts/fullcalendar.js"></script>
<style type="text/css">
    #add-event-form {
        display: none;
    }
</style>

<header>
    <script>
        $(document).ready(function() {

            // page is now ready, initialize the calendar...

            $.ajax({
                url: 'Calender/GetEvents',
                success: function (data) {
                    var events = [];

                    for (var i = 0; i < data.length; i++) {
                        events.push({
                            title: data[i].Title,
                            start: data[i].Start,
                            end: data[i].End,
                            allDay: data[i].AllDay
                        });
                    }

                    initCalendar(events);
                },
                error: function () {

                }
            });

            document.getElementById("button-save").onclick = function () {
                console.log($("#calendar").fullCalendar("clientEvents"));
            };
        });
        
        function initCalendar(events) {
            $('#calendar').fullCalendar({
                events: events,
                dayClick: function (date, allDay, jsEvent, view) {
                    $("#add-event-form").dialog({
                        height: 300,
                        width: 350,
                        modal: true,
                        buttons: {
                            "Create Event": function () {
                                var title = document.getElementById('add-event-name').value;

                                $('#calendar').fullCalendar('renderEvent', {
                                    title: title,
                                    start: date
                                });

                                $(this).dialog('close');
                                document.getElementById('add-event-name').value = "";

                                $.ajax({
                                    url: 'Calender/AddEvent',
                                    data: {
                                        title: title,
                                        startDate: date
                                    },
                                    success: function () {

                                    },
                                    error: function () {

                                    }
                                });
                            },
                            "Cancel": function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                }
            });
        }
    </script>
</header>
<div id='calendar'></div>
<div id="add-event-form">
    <form>
        <fieldset>
            <input type="text" name="name" id="add-event-name" placeholder="Event Name" class="text ui-widget-content ui-corner-all" />
        </fieldset>
    </form>
</div>
<button id="button-save">Save</button>
