<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript" src="/Resources/uploadify/jquery.uploadify.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/Content/Chat.css" />
﻿@if (Request.IsAuthenticated)
{
     <div id="messageContainer">
    <div id="chatHistoryContainer">
        <button id="historyButton" title="Chat History" style="float: left;position: relative; height:60px; width: 60px" />       
        <h2 style="left:190px; position: absolute; margin: 0 auto; text-align:center">Chat</h2>
    </div>
    <div id="messageArea">
    </div>
    <div id="messageInput" class="ui-corner-all">
        <div id="messageBlock">
            <label class="ui-widget-content ui-widget ui-state-default ui-corner-all" for="msg" >Message: </label>
            <input class="input.ui-button" id="msg" style="height:40px; padding-top:5px;"/>
        </div>
        <div id="sendButton">
            <button id="btn" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" role="button" aria-disabled="false"><span class="ui-button-text">Send</span></button>
        </div>
    </div>
</div>


<script>
    var agreed = false; //has to be global

    $(document).ready(function () {
        $( "#something" ).dialog({
            resizable: false,
            height:400,
            width:700,
            autoOpen: false,
        });
        $("#historyButton").button({

            icons: { primary: null },
            text: false

        }).addClass("ButtonClass");
    });

    $('#historyButton').click(function (e) {
        $.ajax({
            url: '/Chat/GetChatHistory',
            data: { userName: fbName },
            success: function (data) {
               // alert("success");
                var logItem = [];

                for (var i = 0; i < data.length; i++) {
                    logItem.push({
                        userId: data[i].user_id,
                        message: data[i].message,
                        name: data[i].name,
                        timeStamp: data[i].timestamp
                    });
                }
                $('#historyArea').html("");
                for (var j = 0; j < logItem.length; j++) {
                   
                    $('#historyArea').append('<br />' + '(' + logItem[j].timeStamp + ')  ' + logItem[j].name + ': ' + logItem[j].message);
                }
                $("#something").dialog("open");


            },
            error: function () {
                //alert("Failed");
            }
        });
    });

    function displayMessage(msg) {
        $('#messageArea').append('<br />' + msg);
         }
      
     var WebSocket = WebSocket || MozWebSocket;
     var myWebSocket = new WebSocket("ws://localhost:8181");
     myWebSocket.onopen = function (evt) {
             //$('#btn, #name, #msg').attr('disabled', '');
         myWebSocket.send(JSON.stringify({
             name: fbName,
             msg: "has joined the chat"
         }));
         };
     myWebSocket.onmessage = function (evt) {
         var data = JSON.parse(evt.data);
         //alert("data: " + data);
         // if (data.name === $('#name').val()
         if (data.name === fbName) {
                     displayMessage('(me): ' + data.msg);
                 }
             else {
                     displayMessage(data.name + ': ' + data.msg);
                  }
         };
     myWebSocket.onclose = function (evt) {
            // displayMessage("Connection closed.");
         // $('#btn, #name, #msg').attr('disabled', 'disabled');
         //alert("CLOSED");
         };
      
     $('#btn').click(function (e) {
         //alert(name);
         e.preventDefault();
         //name: $('#name').val(),
             myWebSocket.send(JSON.stringify({
                 name: fbName,
                    msg: $('#msg').val()
             }));
         $('#msg').val('')
     });
     var fbName = "@Session["name"]";

    

</script>
    <div id="chatContainer">
        <div id="something" title="Chat History"><div id="historyArea"></div></div>
        </div>

}